:root {
  --main-bg-color: #fff;
  --text-color: #000;

  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;

  --green-color: #219679;

  --card-bg-color: #ebedf0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.darkLayout {
  --main-bg-color: #23272f;
  --text-color: #fff;

  --btn-bg-color: #16444f;
  --btn-text-color: #57c4dc;

  --green-color: #219679;

  --card-bg-color: #343a46;
}
