:root {
  /* --main-bg-color: #23272f;
  --text-color: #fff;

  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;

  --green-color: #219679;

  --card-bg-color: #343a46; */

  --main-bg-color: #fff;
  --text-color: #000;

  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;

  --green-color: #219679;

  --card-bg-color: #ebedf0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.darkLayout {
  --main-bg-color: #23272f;
  --text-color: #fff;

  --btn-bg-color: #16444f;
  --btn-text-color: #57c4dc;

  --green-color: #219679;

  --card-bg-color: #343a46;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;

    --btn-bg-color: #383b3f;
    --btn-text-color: #fff;

    --green-color: #219679;

    --card-bg-color: #ebedf0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #23272f;
    --text-color: #fff;

    --btn-bg-color: #16444f;
    --btn-text-color: #57c4dc;

    --green-color: #219679;

    --card-bg-color: #343a46;
  }
} */
